<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <div class="logo">
          <img class="img-responsive" src="../../../assets/img/angulartube.png" alt="logo">
        </div>

        <h3>GERAR NOVA SENHA</h3>
  
        <p class="text-center">Por favor, entre seu endereço de e-mail para pedir uma nova senha.</p>
  
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Digite seu e-mail cadastrado..." #passwordResetEmail required>
        </div>
  
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="GERAR NOVA SENHA" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
  
      <div class="redirectToLogin">
        <span>Retornar à tela de <span class="redirect" routerLink="/sign-in">ACESSO</span></span>
      </div>
  
    </div>
  </div>
