<div class="displayTable">
    <div class="displayTableCell">

        <div class="authBlock">
            <div class="logo">
                <img class="img-responsive" src="../../../assets/img/angulartube.png" alt="logo">
            </div>
            <h3>ACESSAR A PWA</h3>
            <div class="formGroup">
                <input type="text" class="formControl" placeholder="Digite seu e-mail cadastrado..." #userName required>
            </div>

            <div class="formGroup">
                <input type="password" class="formControl" placeholder="Digite sua senha cadastrada..." #userPassword required>
            </div>

            <!-- Calling SignIn Api from AuthService -->
            <div class="formGroup">
                <input type="button" class="btn btnPrimary" value="ENTRAR" (click)="authService.SignIn(userName.value, userPassword.value)">
            </div>

            <div class="formGroup">
                <span class="or"><span class="orInner">Ou</span></span>
            </div>

            <!-- Calling GoogleAuth Api from AuthService -->
            <div class="formGroup">
                <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Acessar com Google
        </button>
            </div>

            <div class="forgotPassword">
                <span routerLink="/forgot-password">Esqueceu a senha? Clique aqui</span>
            </div>
        </div>

        <div class="redirectToLogin">
            <span>Não tem uma conta?<span class="redirect" routerLink="/register-user"> REGISTRE-SE</span></span>
        </div>

    </div>
</div>